/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "apercue";
  src: url("/wp-content/themes/attaqitheme/assets/fonts/Apercu.otf")
    format("opentype");
}

html {
  font-family: "apercue", cursive;
  scroll-behavior: smooth;
}

body {
  background: #eee;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 300px;
}
.swiper-container {
  width: 100%;
  margin: 0 auto;
}

.swiper-slide-container {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  max-width: 600px;
  margin: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.gallery-top1 > .swiper-wrapper > .swiper-slide > .swiper-slide-container {
  max-width: 100%;
}

.gallery-thumbs1 > .swiper-wrapper > .swiper-slide {
  max-width: 100%;
}

.swiper-container.gallery-thumbs1 {
  margin: 20px auto;
}

.gallery-top1 {
  width: 100%;
}

.gallery-thumbs1 {
  height: 10%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs1 .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.5;
}

.gallery-thumbs1 .swiper-slide-active {
  opacity: 1;
}

.gallery-top2 > .swiper-wrapper > .swiper-slide > .swiper-slide-container {
  max-width: 100%;
}

.gallery-thumbs2 > .swiper-wrapper > .swiper-slide {
  max-width: 100%;
}

.swiper-container.gallery-thumbs2 {
  margin: 20px auto;
}

.swiper-container.gallery-top2 {
  height: 100% !important;
  width: 100%;
}

.swiper-container.gallery-thumbs2 {
  height: 10%;
  box-sizing: border-box;
  padding: 10px 0;
  width: 100% !important;
}

@media (min-width: 480px) and (max-width: 639px) {
  .swiper-container.gallery-thumbs2 {
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100% !important;
  }
}

@media (min-width: 640px) and (max-width: 720px) {
  .swiper-container.gallery-thumbs2 {
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100% !important;
  }
}

@media (min-width: 721px) and (max-width: 1536px) {
  .swiper-container.gallery-thumbs2 {
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100% !important;
  }
}

.gallery-thumbs2 .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.5;
}

.gallery-thumbs2 .swiper-slide-active {
  opacity: 1;
}

.bg-blue-550 {
  background-color: #29516f;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

#scrollToFeatureButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  /* background-color: #29516f; Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

.call-attaqi-btn:hover ~ .ig-icon-svg > path {
  @apply text-yellow-500 fill-current;
}
